

<footer class = "container-fluid mt-5 p-5 bg-light">
    <div class = "row">
        <section class = "col-lg-6">
            <div>Contact</div>
            <div>
                <ul>
                    <li>example@gmail.com</li>
                    <li>9876543210</li>
                    <li>At. xyz, abc 000 000</li>
                </ul>
            </div>
        </section>
        <section class = "col-lg-6">
            <div>Feedback:</div>
            <div>
                <form>
                    <div class = "form-group">
                        <lable for = "name">Your Name:</lable>
                        <input class = "form-control" type = "text" name = "name" id = "name">
                    </div>
                    <div class = "form-group">
                        <lable for = "email">Your E-mail:</lable>
                        <input class = "form-control" type = "text" name = "email" id = "email">
                    </div>
                    <div class = "form-group">
                        <input type = "submit" name = "submit" class = "btn btn-info">
                    </div>
                </form>
            </div>
        </section>
    </div>
</footer>

</body>
</html>