{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href = "https://drive.google.com/file/d/12OXaUX16LBiBfEQplXHtdiRKwtDa14qg/view?usp=sharing">Cloud Application Development</a></li>
                        <li><a href = "/units">Cloud Management</a></li>
                        <li><a href = "https://drive.google.com/file/d/1yrjVysCHTjigX6lE8-ZSydgWYB23G5HB/view?usp=sharing">Data Center Technologies</a></li>
                        <li><a href = "https://drive.google.com/file/d/10L7Yv7IoRWaLi8VTf_GVwDy85YmVcH1v/view?usp=sharing">Technical Writing and Entrepreneurship Development</a></li>
                    </ol>
                </div>
            </section>
        </main>
    {% endblock %}

