{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href="https://drive.google.com/file/d/1wj3cbNmcn-BhfRWeDhdgtV2aPEr7zunp/view?usp=sharing">Cloud Computing</a></li>
                        <li><a href="https://drive.google.com/file/d/1DNIjXE7D-VmChTuEP0oKHTNrERzw8lbA/view?usp=sharing">Data Science</a></li>
                        <li><a href="https://drive.google.com/file/d/18MAHrz6N6bXS9AE2oJEXWTXTi2PMtxUY/view?usp=sharing">Research in Computing</a></li>
                        <li><a href="https://drive.google.com/file/d/197HDJGeVEKgmWc3DK5QKYdIshsVUFCsE/view?usp=sharing">Soft Computing Techniques</a></li>
                    </ol>
                </div>
            </section>
        </main>
        
    {% endblock %}