{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href = "https://drive.google.com/file/d/1fJQK2EoUGxCd_cisJHG_VTZ_WrYJ4i-t/view?usp=sharing">Microservice Architecture</a></li>
                        <li><a href = "https://drive.google.com/file/d/1XiCpK9DU9FZ1pOzdZXvdRvobm_gnSBFg/view?usp=sharing">Image Processing</a></li>
                        <li><a href = "https://drive.google.com/file/d/17v1Rze3__KNMS8LVpshCy9E7TEO8PCNL/view?usp=sharing">Modern Networking</a></li>
                        <li><a href = "https://drive.google.com/file/d/1i7vJFcGUKpHmBVYTCuhKprAtvu_z0kES/view?usp=sharing">Big Data Analytics</a></li>
                    </ol>
                </div>
            </section>
        </main>

    {% endblock %}

