{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-danger">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href = "https://drive.google.com/file/d/1_dHXGr8BTQVadi50_JqhuEn_IK7YNGnk/view?usp=sharing">Unit 1</a></li>
                        <li><a href = "https://drive.google.com/file/d/1JrtQc2HK4it-piON_bdpROWiu6SbA3cU/view?usp=sharing">Unit 2</a></li>
                        <li><a href = "https://drive.google.com/file/d/1HW1haPyTGu75zTZJ-tKhuGQYPfwaw_UK/view?usp=sharing">Unit 3</a></li>
                        <li><a href = "https://drive.google.com/file/d/1Orau1whBhYjNrKUqj67_JQ3pG51s1vWp/view?usp=sharing">Unit 4</a></li>
                        <li><a href = "https://drive.google.com/file/d/1ExRTMrLzz8BZjEL3U7BupP3vKNF0RNmo/view?usp=sharing">Unit 5</a></li>
                    </ol>
                </div>
            </section>
        </main>
        
    {% endblock %}
