{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    MSc.I.T.
                </div>
                <div style = "height: 500px">
                    <ol>
                        {% for i in formData %}
                                <li><a href = "/subject1/{{i.semester}}">{{i.classes}} {{i.class_name}} {{i.semester}}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </section>
        </main>
    {% endblock %}
