{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light shadow-lg">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    MSc.I.T.
                </div>
                <div style = "height: 500px">
                    <ol>
                        {% for i in formData %}
                            {% if i.semester  %}
                                <li><a href = "/subject1/{{i.semester}}">{{i.classes}} {{i.class_name}} {{i.semester}}</a></li>
                            {% endif %}
                            <!--
                            <li><a href = "/subject1">MSc.I.T Part 1 sem 1</a></li>
                            <li><a href = "/subject2">MSc.I.T Part 1 sem 2</a></li>
                            <li><a href = "/subject3">MSc.I.T Part 2 sem 3</a></li>
                            <li><a href = "/subject4">MSc.I.T Part 2 sem 4</a></li> -->
                        {% endfor %}
                    </ol>
                </div>
            </section>
        </main>
    {% endblock %}
