{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-danger shadow-lg">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href = "https://drive.google.com/file/d/1zSxRotSKrYscP5am5yMmXFW1CSCjojwu/view?usp=sharing">Microservices, IoT, and Azure_ Leveraging DevOps and Microservice Architecture to Deliver SaaS Solutions</a></li>
                        <li><a href = "https://drive.google.com/file/d/1o_xgBwzwqYGKFUP0TzYzra7E3wjU3Lme/view?usp=sharing">Internet of Things_ Architectures, Protocols and Standards</a></li>
                    </ol>
                </div>
            </section>
        </main>
    {% endblock %}