{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light shadow-lg">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "min-height: 300px">

                    <!-- By logic -->
                    
                    <ol>
                        {% for i in formData %}
                            <li>
                                <a href = "{{i.subject_link}}">
                                    {{i.subjects}}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>

                    <!-- static -->
                    <!-- <ol>
                        <li><a href="https://drive.google.com/file/d/1wj3cbNmcn-BhfRWeDhdgtV2aPEr7zunp/view?usp=sharing">Cloud Computing</a></li>
                        <li><a href="https://drive.google.com/file/d/1DNIjXE7D-VmChTuEP0oKHTNrERzw8lbA/view?usp=sharing">Data Science</a></li>
                        <li><a href="https://drive.google.com/file/d/18MAHrz6N6bXS9AE2oJEXWTXTi2PMtxUY/view?usp=sharing">Research in Computing</a></li>
                        <li><a href="https://drive.google.com/file/d/197HDJGeVEKgmWc3DK5QKYdIshsVUFCsE/view?usp=sharing">Soft Computing Techniques</a></li>
                    </ol> -->
                </div>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Practicals
                </div>
                <div style = "min-height: 300px">
                    <ol>
                        <li><a href="">Cloud Computing Practicals</a></li>
                        <li><a href="">Data Science Practicals</a></li>
                        <li><a href="">Research in Computing Practicals</a></li>
                        <li><a href="">Soft Computing Techniques Practicals</a></li>
                    </ol>
                </div>
            </section>
        </main>
        
    {% endblock %}