{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        {% for i in formData %}
                            <li>{{ i.classes }}</lI>
                        {% endfor %}
                    </ol>
                </div>
            </section>
        </main>
    {% endblock %}

