{% extends "base.html" %}

    {% block content %}
        
        <main class = "container mt-5 bg-light">
            <section class = "bg-info text-center">
                <h1>Welcome to Study Material Portal</h1>
            </section>
            <section class = "bg-light">
                <div class = "text-center" style = "font-size: 30px;">
                    Subjects
                </div>
                <div style = "height: 500px">
                    <ol>
                        <li><a href = "https://drive.google.com/file/d/1WD_3hZNQaq-C5C1g3iQ6GsZLHBHTAIKo/view?usp=sharing">BlockChain</a></li>
                        <li><a href = "/reference_books">Advanced IoT</a></li>
                        <li><a href = "https://drive.google.com/file/d/1mpGN6XhbkBYpIcHBGZUARgJ-KC_uyMDh/view?usp=sharing">Server Virtualization on VMWare Platform</a></li>
                        <li><a href = "https://drive.google.com/file/d/1-ZqTB4ei_Vc8HvEFKRXFu-65WbXbV-29/view?usp=sharing">Storage as a Service</a></li>
                    </ol>
                </div>
            </section>
        </main>

    {% endblock %}